@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>

<h3>使用说明</h3>
<p>   
     提供对CVD案例库的浏览和检索
</p>

<h3>反馈</h3>
<p>
     任何建议或疑问，请垂询
     <a href = "mailto:elevenjohns@gmail.com" alt="email">elevenjohns@gmail.com</a>
</p>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>