<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="HomePage" value="http://localhost:3581/Home/Map"/>
        <add key="EncounterPage" value="http://localhost:3581/Encounter/Details/"/>
    </appSettings>
    <connectionStrings>
        <add name="KBEntities" connectionString="metadata=res://*/KB.csdl|res://*/KB.ssdl|res://*/KB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=KB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="DictContainer" connectionString="metadata=res://*/Dict.csdl|res://*/Dict.ssdl|res://*/Dict.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Dict;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="CDREntities" connectionString="metadata=res://*/CDR.csdl|res://*/CDR.ssdl|res://*/CDR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=CDR;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="CPEntities" connectionString="metadata=res://*/Models.CP.csdl|res://*/Models.CP.ssdl|res://*/Models.CP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=CP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="mscorlib" publicKeyToken="7CEC85D7BEA7798E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="7CEC85D7BEA7798E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
