<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DICTOEntities" connectionString="metadata=res://*/DictO.csdl|res://*/DictO.ssdl|res://*/DictO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.210;initial catalog=DICT;user id=sa;password=vico;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KBEntities" connectionString="metadata=res://*/KB.csdl|res://*/KB.ssdl|res://*/KB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=KB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>