@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />

<div style="float:left">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img width="200px" src="/Content/images/Error.png" alt="Error" />
</div>

<div style="float:left; width:120px">
<br /><br /><br /><br /><br />
<text>@ViewBag.Message</text>
</div>

